html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Regular'),
        url('../fonts/MullerRegular.woff2') format("woff2"),
        url('../fonts/MullerRegular.woff') format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-light'),
        url('../fonts/MullerLight.woff2') format("woff2"),
        url('../fonts/MullerLight.woff') format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Medium'),
        url('../fonts/MullerMedium.woff2') format("woff2"),
        url('../fonts/MullerMedium.woff') format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Bold'),
        url('../fonts/MullerBold.woff2') format("woff2"),
        url('../fonts/MullerBold.woff') format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    min-width: 1200px;
    font-family: 'Muller', sans-serif;
    background-color: #F1F1F1;
}

html {
    --color-black: #000000;
    --color-basic: #CC9933;
}

/* glob */
.none {
    display: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex {
    display: flex;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 35px 0;
}

.title {
    margin: 0;
    margin-bottom: 20px;
    padding-left: 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;

}

.descr {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: var(--color-black);
}

.btn {
    padding: 13px 20px;
    border: 1px solid var(--color-basic);
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-basic);
    outline: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn:focus,
.btn:hover {
    color: #fff;
    background-color: var(--color-basic);
}

.btn:active {
    color: #fff;
    background-color: #A47312;
}



/* header */
.header {
    padding: 30px 0;
}

.header-top {
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
}

.header-left {
    align-items: center;
}

.header__logo {
    margin-right: 40px;
}

.header__tel {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666666;
    transition: outline 0.3s ease-in-out, color 0.3s ease-in-out;
}

.header__tel:focus {
    color: var(--color-basic);
    outline: 1px solid var(--color-basic);
    outline-offset: 5px;
}

.header__tel:hover {
    color: var(--color-basic);
}

.header__tel:active {
    color: #A47312;
    outline: none;
}

.header__nav-container {
    padding: 15px 45px;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
}

.header__nav .nav__item:not(:last-child) {
    margin-right: 45px;
}

.header__nav .nav__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
    transition: outline 0.3s ease-in-out, color 0.3s ease-in-out;
}

.header__nav .nav__link:focus {
    color: var(--color-basic);
    outline: 1px solid var(--color-basic);
    outline-offset: 5px;
}

.header__nav .nav__link:hover {
    color: var(--color-basic);
}

.header__nav .nav__link:active {
    color: #A47312;
    outline: none;
}

.btn-list .btn-list__item:not(:last-child) {
    margin-right: 40px;
}

.login {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-basic);
    fill: var(--color-basic);
    transition: outline 0.3s ease-in-out, color 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.login-icon {
    fill: inherit;
}

.login:focus {
    fill: var(--color-basic);
    color: var(--color-basic);
    outline: 1px solid var(--color-basic);
    outline-offset: 5px;
}

.login:hover {
    fill: #F0BF5F;
    color: #F0BF5F;
}

.login:active {
    fill: #A47312;
    color: #A47312;
    outline: none;
}

/* Offers */
.offers__block {
    justify-content: space-between;
}

.offers__list {
    flex-direction: column;
}

.offers__item {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    width: 573px;
    height: 258px;
    padding: 40px 45px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.offers__item:not(:last-child) {
    margin-bottom: 24px;
}

.offer-2st {
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/offers-1.jpg');
}

.offer-1st {
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/offers-2.jpg');
}

.offers__big-item {
    position: relative;
    width: 573px;
    height: 540px;
    padding: 212px 45px 40px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
}

.offers__big-item {
    background: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/offers-big.jpg');
}

.offers__item-title {
    margin: 0 0 15px;
    max-width: 420px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
}

.offers__big-item .offers__item-title {
    max-width: 299px;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
}

.offers__item-descr {
    margin-bottom: 47px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.8;
}

.offers__item-link {
    padding-right: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #F0BF5F;
    background-image: url('../img/descr-link.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    transition: color 0.3s ease-in-out;
}

.offers__item-link:hover {
    color: #fff;
}

.offers__item-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.offers__item-link:focus::after {
    position: absolute;
    outline: 1px solid red;
    outline-offset: auto;
}

/* about-us */
.about-us__descr {
    max-width: 888px;
}

/* services */
.services__list {
    flex-wrap: wrap;
}

.services__item {
    position: relative;
    width: 573px;
    padding: 191px 45px 35px;
    margin-bottom: 24px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 15px;
    background-color: #fff;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 573px 165px;
}

.services__item:not(:nth-child(2n)) {
    margin-right: 24px;
}

.service-1st {
    background-image: url('../img/services-1.jpg');
}

.service-2nd {
    background-image: url('../img/services-2.jpg');
}

.service-3rd {
    background-image: url('../img/services-3.jpg');
}

.service-4th {
    background-image: url('../img/services-4.jpg');
}

.services__item-title {
    margin: 0;
}

.services__item-link {
    padding-right: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: var(--color-basic);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    transition: outline 0.3s ease-in-out, color 0.3s ease-in-out;
}

.services__item-link:focus {
    color: var(--color-basic);
    outline: 1px solid var(--color-basic);
    outline-offset: 2px 2px; 
}

.services__item-link:hover {
    color: #F0BF5F;
}

.services__item-link:active {
    color: #A47312;
    outline: none;
}

.services__descr {
    max-width: 402px;
}



/* advantages */
.advantages__list {
    flex-wrap: wrap;
}

.advantages__item {
    width: 276px;
    min-height: 276px;
    margin-bottom: 22px;
    padding: 116px 45px 32px;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 15px;
    background-color: #FFFFFF;
    background-position: top 40px left 45px;
    background-repeat: no-repeat;
    background-size: 66px 66px;
}

.advantages__item:not(:nth-child(4n)) {
    margin-right: 22px;
}



.first-adv {
    background-image: url('../img/adv-1.svg');
}

.second-adv {
    background-image: url('../img/adv-2.svg');
}

.third-adv {
    background-image: url('../img/adv-3.svg');
}

.fourth-adv {
    background-image: url('../img/adv-4.svg');
}

.fifth-adv {
    background-image: url('../img/adv-5.svg');
}

.sixth-adv {
    background-image: url('../img/adv-6.svg');
}

.seventh-adv {
    background-image: url('../img/adv-7.svg');
}

.eighth-adv {
    background-image: url('../img/adv-8.svg');
}


/* locations */
.locations__list {
    flex-wrap: wrap;
}

.locations__item {
    min-height: 440px;
    width: 374px;
    margin-bottom: 24px;
    flex-direction: column;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.locations__item:not(:nth-child(3n)) {
    margin-right: 24px;
}

.locations__item-pic {
    height: 217px;
    width: 374px;
    border-radius: 15px 15px 0 0;
}

.item-text {
    padding: 32px 45px 45px;
    flex-direction: column;
    align-items: flex-start;
}

.prices-stars {
    justify-content: space-between;
    width: 284px;
    margin-bottom: 16px;
}

.locations__item-name {
    margin: 0;
    margin-bottom: 16px;
}

.locations__item-descr {
    margin-bottom: 20px;
}

.locations__last-item {
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 27px 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.span-from {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #999999;

}

.price {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: var(--color-black);

}

.span-night {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-black);

}

.locations__item-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-black);
}

.locations__item-descr {
    line-height: 100%;
    color: #999999;
}

.locations__last-item .link {
    padding-right: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #FFFFFF;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.locations__last-item .link::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.locations__last-item .link {
    background-image: url('../img/descr-white-link.svg');
}

.locations__last-item {
    background-image: url('../img/location-last.jpg');
}

/* booking */
.booking__container {
    padding: 45px 40px;
    background: #E9E9E9;
    border-radius: 15px;
}

.booking__title {
    padding: 0;
}

.booking__form {
    padding: 32px 28px;
    background: #FFFFFF;
    border-radius: 15px;
    justify-content: space-between;
}

.booking__cell {
    flex-direction: column;
    align-items: flex-start;
}

.cell-name {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: var(--color-black);
}

.booking__cell select,
.booking__cell input {
    border: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-black);
}

.booking__cell select {
    width: 169px;
}

.booking__cell input {
    width: 121px;
}

.btn-booking {
    padding: 13px 30px;
    height: 100%;
}

/* contacts */
.contacts .address {
    justify-content: space-between;
    padding: 45px 45px;
    background: #FFFFFF;
    border-radius: 15px;
}

.address-left {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 375px;
}

.contacts .address__item {
    width: 375px;
    margin-bottom: 25px;
    padding-bottom: 23px;
    border-bottom: 1px solid #E9E9E9;
}

.address__text {
    flex-direction: column;
    max-width: 229px;
    align-items: flex-start;
}

.address__caption {
    font-style: normal;
    width: 145px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: var(--color-black);

}

.contacts .address__descr,
.contacts .address__link,
.contacts .descr-mail {
    font-style: normal;
    line-height: 150%;
}

.contacts .address__descr {
    color: var(--color-black);
}

.contacts .address__link {
    color: var(--color-basic);
}

.contacts .descr-mail {
    color: #999999;
}

.contacts .address__link {
    transition: outline 0.3s ease-in-out, color 0.3s ease-in-out;
}

.contacts .address__link:focus {
    color: var(--color-basic);
    outline: 1px solid var(--color-basic);
    outline-offset: 2px 2px; 
}

.contacts .address__link:hover {
    color: #F0BF5F;
}

.contacts .address__link:active {
    color: #A47312;
    outline: none;
}

.contacts-btn {
    padding: 27px 30px;
}

/* footer */
.footer {
    padding-top: 5px;
    padding-bottom: 30px;
}

.footer__container {
    justify-content: space-between;
    padding: 45px;
    background: #333333;
    border-radius: 15px;
}

.footer__descrs {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 302px;
    margin-right: 125px;
}

.footer .address__list {
    flex-direction: column;
    align-items: flex-start;
}

.footer .address__item:not(:last-child) {
    margin-bottom: 15px;
}

.footer .address__item {
    flex-direction: column;
    align-items: flex-start;
}

.footer .link,
.footer .address__link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-basic);
}

.footer .address__link, .footer link {
    transition: outline 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer .address__link:focus,
.footer .link:focus {
    color: var(--color-basic);
    outline: 1px solid var(--color-basic);
    outline-offset: 2px 2px; 
}

.footer .address__link:hover,
.footer .link:hover {
    color: #F0BF5F;
}

.footer .address__link:active,
.footer .link:active {
    color: #A47312;
    outline: none;
}

.footer__descr {
    margin-bottom: 37px;
    font-style: normal;
    line-height: 190%;
    color: #FFFFFF;
}

.footer .address__descr {
    font-style: normal;
    line-height: 190%;
    color: #FFFFFF;
}

.social {
    flex-direction: column;
}

.social__item:not(:last-child) {
    margin-bottom: 20px;
}

.social__link {
    display: block;
    width: 25px;
    height: 25px;
    outline: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.social__svg {
    fill: #999999;
    transition: fill 0.3s ease-in-out;
}

.social__link:focus .social__svg,
.social__link:hover .social__svg {
    fill: var(--color-basic);
}

.social__link:active .social__svg {
    fill: #A47312;
}