html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Regular'),
        url('../fonts/MullerRegular.woff2') format("woff2"),
        url('../fonts/MullerRegular.woff') format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-light'),
        url('../fonts/MullerLight.woff2') format("woff2"),
        url('../fonts/MullerLight.woff') format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Medium'),
        url('../fonts/MullerMedium.woff2') format("woff2"),
        url('../fonts/MullerMedium.woff') format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Bold'),
        url('../fonts/MullerBold.woff2') format("woff2"),
        url('../fonts/MullerBold.woff') format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    min-width: 1200px;
    font-family: 'Muller', sans-serif;
    background-color: #F1F1F1;
}

/* glob */
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex {
    display: flex;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 35px 0;
}

.section-title {
    margin: 0;
    margin-bottom: 20px;
    padding-left: 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;

}

.descr {
    margin: 0;
}

.btn {
    padding: 13px 20px;
    border: 1px solid #CC9933;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;

}

/* header */
.header {
    padding: 30px 0;
}

.header-top {
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
}

.header-left {
    align-items: center;
}

.header-logo {
    margin-right: 40px;
}

.header-nav-container {
    padding: 15px 45px;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
}

.header-list-item:not(:last-child) {
    margin-right: 45px;
}

.header-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
}



.btn-list-item:not(:last-child) {
    margin-right: 40px;
}

.header-address-tel {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666666;
}

.login {
    padding-left: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
}

.login {
    background-image: url('../img/log-icon.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 21px 12px;
}

/* Offers */
.offers-block {
    justify-content: space-between;
}

.offers-list {
    flex-direction: column;
}

.offers-list-item {
    flex-direction: column;
    align-items: flex-start;
    width: 573px;
    height: 258px;
    padding: 40px 45px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.offers-list-item:not(:last-child) {
    margin-bottom: 24px;
}

.first-offer {
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/offers-1.jpg');
}

.second-offer {
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/offers-2.jpg');
}

.offers-big-item {
    width: 573px;
    height: 540px;
    padding: 212px 45px 40px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
}

.offers-big-item {
    background: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/offers-big.jpg');
}

.offers-list-item-title {
    margin: 0 0 15px;
    max-width: 420px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
}

.big-item-title {
    max-width: 299px;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
}

.offers-list-item-descr {
    margin-bottom: 47px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.8;
}

.offers-list-item-link {
    padding-right: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #F0BF5F;
    background-image: url('../img/descr-link.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

/* about-us */
.about-us-descr {
    max-width: 888px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
}

/* services */
.services-list {
    flex-wrap: wrap;
}

.services-list-item {
    width: 573px;
    padding: 191px 45px 35px;
    margin-bottom: 24px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 15px;
    background-color: #fff;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 573px 165px;
}

.services-list-item:not(:nth-child(2n)) {
    margin-right: 24px;
}

.first-service {
    background-image: url('../img/services-1.jpg');
}

.second-service {
    background-image: url('../img/services-2.jpg');
}

.third-service {
    background-image: url('../img/services-3.jpg');
}

.fourth-service {
    background-image: url('../img/services-4.jpg');
}

.services-list-item-title {
    margin: 0;
}

.link-service {
    padding-right: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #CC9933;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.link-service {
    background-image: url('../img/descr-link.svg');
}

.services-list-item-descr {
    max-width: 402px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
}

/* advantages */
.advantages-list {
    flex-wrap: wrap;
}

.advantages-list-item {
    width: 276px;
    min-height: 276px;
    margin-bottom: 22px;
    padding: 116px 45px 32px;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 15px;
    background-color: #FFFFFF;
    background-position: top 40px left 45px;
    background-repeat: no-repeat;
    background-size: 66px 66px;
}

.advantages-list-item:not(:nth-child(4n)) {
    margin-right: 22px;
}

.location-list-last-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.first-adv {
    background-image: url('../img/adv-1.svg');
}

.second-adv {
    background-image: url('../img/adv-2.svg');
}

.third-adv {
    background-image: url('../img/adv-3.svg');
}

.fourth-adv {
    background-image: url('../img/adv-4.svg');
}

.fifth-adv {
    background-image: url('../img/adv-5.svg');
}

.sixth-adv {
    background-image: url('../img/adv-6.svg');
}

.seventh-adv {
    background-image: url('../img/adv-7.svg');
}

.eighth-adv {
    background-image: url('../img/adv-8.svg');
}

.location-list-last-item {
    background-image: url('../img/location-last.jpg');
}

.advantages-list-item-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
}



/* locations */
.location-list {
    flex-wrap: wrap;
}

.location-list-item {
    min-height: 440px;
    width: 374px;
    margin-bottom: 24px;
    flex-direction: column;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.location-list-item:not(:nth-child(3n)) {
    margin-right: 24px;
}

.location-list-item-pic {
    height: 217px;
    width: 374px;
    border-radius: 15px 15px 0 0;
}

.item-text {
    padding: 32px 45px 45px;
    flex-direction: column;
    align-items: flex-start;
}

.prices-stars {
    justify-content: space-between;
    width: 284px;
    margin-bottom: 16px;
}

.location-list-item-name {
    margin: 0;
    margin-bottom: 16px;
}

.location-list-item-descr {
    margin-bottom: 20px;
}

.location-list-last-item {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 27px 45px;
}

.span-from {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #999999;

}

.price {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;

}

.span-night {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;

}

.location-list-item-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
}

.location-list-item-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}

.location-list-last-item-link {
    padding-right: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #FFFFFF;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.location-list-last-item-link {
    background-image: url('../img/descr-white-link.svg');
}

/* booking */
.booking-container {
    padding: 45px 40px;
    background: #E9E9E9;
    border-radius: 15px;
}

.booking-title {
    padding: 0;
}

.booking-form {
    padding: 32px 28px;
    background: #FFFFFF;
    border-radius: 15px;
    justify-content: space-between;
}

.form-cell {
    flex-direction: column;
    align-items: flex-start;
}

.cell-name {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #000000;
}

.form-cell select,
.form-cell input {
    border: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
}

.form-cell select {
    width: 169px;
}

.form-cell input {
    width: 121px;
}

.btn-booking {
    padding: 13px 30px;
    height: 100%;
}

/* contacts */
.address-contacts {
    justify-content: space-between;
    padding: 45px 45px;
    background: #FFFFFF;
    border-radius: 15px;
}

.address-left {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 375px;
}

.address-item {
    width: 375px;
    margin-bottom: 25px;
    padding-bottom: 23px;
    border-bottom: 1px solid #E9E9E9;
}

.address-text {
    max-width: 229px;
    flex-direction: column;
}

.contacts-item-caption {
    font-style: normal;
    width: 145px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;

}

.address-descr,
.address-tel,
.address-mail,
.descr-mail {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.address-descr {
    color: #000000;
}

.address-tel,
.address-mail {
    color: #CC9933;
}

.descr-mail {
    color: #999999;
}

.contacts-btn {
    padding: 27px 30px;
}

/* footer */
.footer {
    padding-top: 5px;
    padding-bottom: 30px;
}

.footer-container {
    justify-content: space-between;
    padding: 45px;
    background: #333333;
    border-radius: 15px;
}

.footer-descrs {
    flex-direction: column;
    justify-content: space-between;
    width: 302px;
    margin-right: 125px;
}

.footer-descrs .descr-footer {
    margin-bottom: 37px;
}

.address-list {
    flex-direction: column;
}

.footer-address-item:not(:last-child) {
    margin-bottom: 15px;
}

.footer-address-item {
    flex-direction: column;
}

.link-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;
}

.descr-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    color: #FFFFFF;
}

.social-list {
    flex-direction: column;
}

.social-item:not(:last-child) {
    margin-bottom: 20px;
}

.social-link {
    display: block;
    width: 25px;
    height: 25px;
    background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.social-link-sova {
    background-image: url("../img/sova.svg");
}

.social-link-ok {
    background-image: url("../img/ok.svg");
}

.social-link-vk {
    background-image: url("../img/vk.svg");
}